<section class="page-footer footer" style="padding-top:20px;">
    <footer>
      <div class="col-md-6 col-lg-7 text-center text-md-right">

        <!-- Facebook -->
        <a class="fb-ic social_network" href="https://www.facebook.com/profile.php?id=100009164901429">
          <i class="fab fa-facebook-f white-text mr-4" > </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic social_network" href="https://twitter.com/MaliwadSanskar">
          <i class="fab fa-twitter white-text mr-4"> </i>
        </a>

        <!--Linkedin -->
        <a class="li-ic social_network" href="">
          <i class="fab fa-linkedin-in white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic social_network" href="https://www.instagram.com/_sanskar__14/">
          <i class="fab fa-instagram white-text"> </i>
        </a>

      </div>
       <p style="color:#bdc7c9;">© Copyright 2021 C-Guide</p>
  </footer>

  </section>
